aside
{
	float: left;
}
body
{
	margin:0px;
	padding:0px;	
	font-size:small;
}
figure
{
	margin: 0px auto;
	padding: 0px auto;
}
figcaption
{
	height: 32px;
}
#header
{
	color:white;
	background-color:black;
	overflow:hidden;
}
#header ul
{
	list-style:none;
}
#menu-top
{
	float:right;
	margin-top:10px;
	margin-right:10px;
	clear:both;
}
#menu-top li
{
	float:left;
	padding:5px;
	color:white;
}
#menu-top li a:hover
{
	color:white;
	background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940));
}
#menu-top li a
{
	color: #9fa8b0;
	padding: 5px 12px;
	display: block;
	text-shadow: 1px 1px #1f272b;
	border: 1px solid #1c252b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); 
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); 
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); 
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); 
}		
#container
{
	width:1024px;
	margin:0 auto;
	/*-webkit-border-bottom-right-radius: 20px;
	height:700px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;*/
	-webkit-box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.75);
}
#busqueda
{
	margin: 30px 0px 25px 170px;
}
#busqueda #buscar
{
	margin-left:35px;
}
#defaultPane
{
	overflow:hidden;
	position:relative;
	display:block;
	float:right;
	right:5px;
	margin:5px;
	background-color:white;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	width:820px;
	/*	-webkit-border-bottom-left-radius: 20px;
		-webkit-border-bottom-right-radius: 20px;
		-moz-border-radius-bottomleft: 20px;
		-moz-border-radius-bottomright: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		-webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
		overflow:hidden;
*/
}
/*navegador izquierdo artista-genero*/
#left-upside
{
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding:5px 1px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #CCC; 
	text-align:center;
	width:155px;

}
#left-upside ul.nav  li
{	
	float: left;
	height: 20px;
	width: 20px;
}
#left-upside ul.nav  li
{	
	float: left;
	height: 20px;
	width: 20px;
}
		/*center*/
#right-upside
{
	float:left;
	margin-top:10px;
	width:15%;
	padding:5px 1px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #CCC; 
	text-align:center;
}
	/*center*/
#left-downside
{
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border:1px solid #CCC; 
	border-radius: 20px;
	clear: left;
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding:5px 1px;
	text-align:center;
	width:155px;
}
.nav 
{	
	display:block;
	margin:0 auto;
	padding:10px;
	width1:50%;
	list-style:none;
	/*background-color:rgba(0,0,0,0.1);
	border:1px solid #CCC; */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
.nav  li
{
	text-align:center;
	background-color:white;
	border:1px solid #CCC; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px;
	margin1:8px 0px 8px 0px;
}
.nav  li:hover
{
	text-align:center;
	background-color:gray;
	color:red;
	border:1px solid #CCC; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px;
	margin1:8px 0px 8px 0px;
}
.comprar
{
	cursor : pointer;
}
.play
{
	cursor : pointer;
}
/* tabla - top ten albums*/
#album a:hover
{
	text-decoration:underline;			
}			
a
{
	text-decoration:none;
	color:black;
}		
td
{
	padding:5px;
}
#album img
{
	width:145px;
	height:145px;
}
#album
{
	text-align:center;
}
table,tr,td
{
	border:1px solid black;
	text-align:center;
	border:1px solid white;
}
td:hover
{
	border:1px solid black;
}


/*login - registro*/

#titulo
{
	margin-top: 70px;
	margin-left: 170px;
	color: #415C6C;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
}
.logueo-cuerpo
{
	width: 680px;
	height: 232px;
	border: 2px solid #A4DDDE;
	margin: 0px auto;
	margin-bottom:124px;
	background-color:#75C4D5;
}
#formulario
{
	width: 385px;
	margin: 36px 0px 0px 120px;
}
#formulario .label
{
	width: 80px;
	font-weight: bold;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 26px;
	font-size: 13px;
}
.izq
{
	float: left;
	position: relative;
}
.registro
{
	color: #337CA9;
	text-decoration: underline;
	padding-left: 25px;
}
#formulario .input
{
	width: 270px;
	padding: 5px 10px;
	color: #415C6C;
	border: 1px solid #75C4D5;
}
.der
{
	float: right;
	position: relative;
}
#formulario .enviar
{
	margin-top: 35px;
	width: 330px;
}
#formulario .enviar .submit
{
	display: block;
	height: 30px;
	width: 145px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
#formulario .enviar a.olvido
{
	color: #337CA9;
	text-decoration: underline;
	margin: 10px 0 0 30px;
}
#formulario-reg
{
height: 410px;
width: 370px;
margin-right: 80px;
float: right;
margin-top: 50px;
}
#formulario-reg .label
{
	text-align: right;
	width: 80px;
	margin-left: 25px;
	margin-top:5px;
	font-weight:bold;
}
#formulario-reg .der
{
	float: right;
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
#formulario-reg .submit
{
	display: block;
	height: 40px;
	width: 145px;
	text-align: center;
	font-weight: bold;
	background-color:#4355d2;
	color:white;
	font-size: 16px;
	cursor: pointer;
	margin-left: 143px;
	margin-top: 40px;
}

#formulario-crearreq .label
{
	text-align: right;
	width: 80px;
	margin-left: 25px;
	margin-top:5px;
	font-weight:bold;
}
#formulario-crearreq .izq
{
	float: left;
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
#formulario-crearreq .submit
{
	display: block;
	height: 40px;
	width: 145px;
	text-align: center;
	font-weight: bold;
	background-color:#4355d2;
	color:white;
	font-size: 16px;
	cursor: pointer;
	margin-left: 143px;
	margin-top: 40px;
}

.title{
	color: #415C6C;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
}
.form-hint {
color: #999;
font-size: 12px;
line-height: 12px;
margin: 0 0 0px 145px;
}

#razones{
	float:left;
	width: 428px;
	border-right: 2px solid black;
	margin-left: 60px;
	margin-top: 36px;
	padding-right: 20px;
}
/* EDITAR*/
#infousuario
{
height: 410px;
width: 370px;
margin-left: 60px;
float: left;
margin-top: 50px;
padding-right: 80px;
border-right: 2px solid black;
}
#parrafo{
margin-left: 0;
margin-top: 127px;
color: red;
font-size: 14px;
}
#infousuario .label
{
	text-align: right;
	width: 80px;
	margin-left: 25px;
	margin-top:5px;
	font-weight:bold;
}
#infousuario .der
{
	float: right;
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
#infousuario .submit
{
	display: block;
	height: 40px;
	width: 145px;
text-align: center;
font-weight: bold;
background-color:#4355d2;
color:white;
font-size: 16px;
cursor: pointer;
margin-left: 143px;
margin-top: 40px;
}





#infotarjeta
{
height: 410px;
width: 370px;
margin-right: 80px;
float: right;
margin-top: 50px;
}
#infotarjeta .label
{
	text-align: right;
	width: 80px;
	margin-left: 25px;
	margin-top:5px;
	font-weight:bold;
}
#infotarjeta .der
{
	float: right;
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
#infotarjeta .submit
{
	display: block;
	height: 40px;
	width: 145px;
text-align: center;
font-weight: bold;
background-color:#4355d2;
color:white;
font-size: 16px;
cursor: pointer;
margin-left: 143px;
margin-top: 40px;
}

.datas
{
width: 270px;
padding: 5px 10px;
color: #415C6C;
float: right;
margin-right:330px;
position: relative;
margin-right: 75px;
}
.select{
	margin:0;
}
.dato
{
font-size:14px;
font-weight:bold;
}

/* PAGO */

.pago{
margin-top: 0px;
width: 700px;
height: 450px;
margin-left: 250px;

}

#pago1{

height:460px;
}

#mcard{
	background-image:url(mastercard.jpg);
	height:120px;
	width:180px;
	position: relative;
}

#visa{
	background-image:url(visa.jpg);
	height:120px;
	width:180px;
	position: relative;
}

#tit{
	color: #415C6C;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	top:50px;
}

.data
{
width: 270px;
padding: 5px 10px;
color: #415C6C;
border: 1px solid #75C4D5;
float: right;
margin-right:330px;
position: relative;
}

.datos
{
font-size:14px;
font-weight:bold;
}

div.box {
	line-height: 16px;
	font-size: 15px;
	font-family: Arial,sans-serif;
	margin-bottom: 30px;
}

div.box img{
	float:left;
}
div.dmco_html{
	height: 45px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}
.subtitulo{
	text-transform: uppercase;
	text-shadow: none;
	font-size: 27px;
	font-weight: normal;
	display: inline-block;
	margin-right: 4px;
	text-align: center;
}
#arroba{
	float: left;
	width: 127px;
	margin-left: 45px;
	margin-right: 0px;
}
#arroba .username{
	margin-right: 30px;
}

#asunto{
	float: right;
	margin-top: -40px;
}

#asunto p{
	display:inline;
}

/*pie de pagina*/
#footer
{
	position:relative;
	top:10px;
	clear:both;
	padding:10px;
	background-color:gray;
	/*-webkit-border-bottom-right-radius: 20px;
	
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;*/
}
#defaultPane_resize
{
	width:684px;
	position:relative;
	display:block;
	float:right;
	right:5px;
	margin:1px;
	background-color:white;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	/*	-webkit-border-bottom-left-radius: 20px;
		-webkit-border-bottom-right-radius: 20px;
		-moz-border-radius-bottomleft: 20px;
		-moz-border-radius-bottomright: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		-webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.75);
		overflow:hidden;
*/
}
#defaultPane_resize img
{
	width:119px;
	height:119px;
}
/*playlist*/
#playlist
{
	width:670px;
	height:150px;
	overflow-y: auto;
}
#playlist table
{
	border-collapse:collapse;
	border:solid 1px yellow; 
	background-color:#60BFDF;
}
#playlist  td,tr,th
{
	border:solid 1px yellow;
	width:100px;
}

#playlist td 
{
	padding:0px 50px ;
	margin:0;
	height:10px;

}
#playlist td:hover
{
	
	background-color:white;
}

.pago{
margin-top: 35px;
width: 700px;
height: 450px;
margin-left: 350px;
}

.pago1{
margin-top: 50px;
width: 728px;
height: 400px;
margin-left: 345px;

}

#flip{
	float: left;
margin-top: 165px;
margin-left: 65px;
font-size: 18px;
color: rgb(84, 131, 201);
font-weight: bold;
}

#flip li{
	padding-bottom:30px;
}

.pago1{

margin-top: 50px;
width: 680px;
height: 400px;
margin-left: 150px;
}

#mcard{
	background-image:url(mastercard.jpg);
	height:120px;
	width:180px;
	position: relative;
}

#visa{
	background-image:url(visa.jpg);
	height:120px;
	width:180px;
	position: relative;
}

.tit{
color: #415C6C;
	font-family: 'Arial', sans-serif;
	
}

.data
{
width: 270px;
padding: 5px 10px;
color: #415C6C;
border: 1px solid #75C4D5;
float: right;
margin-right:330px;
position: relative;
}

.datos
{
font-size:14px;
font-weight:bold;
}

