.align-center tr{
	text-align: center;
}
.align-right{
    text-align: right;
}
.bkg{
	background: transparent;
}
.bkg .padding{
	padding: 0 20px 0 20px;
}
.login-label select{
	margin:10px 10px !important;
}
.login-text-form{
	margin:5px 10px 0px 10px !important;
	width: 120px;
}
.main{
    /*width: 850px;*/
    width:1000px;
}
.margen-derecho{
    margin-right: 30px;
}
.orderslist-col1{
	width:350px;
	display:inline-block;
}
.orderslist-col2{
	width:220px;
	display:inline;
}
.relative-center{
	width: 200px;
	display: inline-block;
}
.sortable{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 950px !important;/**/
}
.wrapper{
	padding-left: 15px;
}
#tdatos{
	/*width:800px !important;*/
	width:950px !important;
}
#tdatos thead tr th{
	text-align: center;
	width: 33.3333%;
}
#tdatos tbody tr td{
	text-align: center;
	width: 33.3333%;
	color: blue;
}
#content{
	padding: 10px 10px !important;
	margin: 20px 20px;
}
#popcantidad,#popcosto,#popfechaentrega,#popunidad{
	width:100px !important;
}
#fieldset1{
  	margin: 10px 40px;
}
fieldset{ 
  	border:2px solid #ca4b00;
  	border-radius: .25em;
  	padding: 10px 10px;
}
legend{
	padding: 0.2em 0.5em;
  	color:#ca4b00;
  	font-size:150%;
}
p{
	color: blue;
	font-size: 20px;
}
p span{
	color: black;
	font-weight: bold;
}