.align-center tr{
	text-align: center;
}
.align-right{
    text-align: right;
}
.bkg{
	background: transparent;
}
.bkg .padding{
	padding: 0 20px 0 20px;
}
.login-label select{
	margin:10px 10px !important;
}
.login-text-form{
	margin:5px 10px 0px 10px !important;
	width: 120px;
}
.main{
    width: 950px;
}
.margen-derecho{
    margin-right: 30px;
}
.orderslist-col1{
	width:350px;
	display:inline-block;
}
.orderslist-col2{
	width:220px;
	display:inline;
}
.relative-center{
	width: 200px;
	display: inline-block;
}
.sortable{
	margin-left: 45px;
}
#popcantidad,#popcosto,#popfechaentrega,#popunidad{
	width:100px !important;
}

fieldset
{ 
  border:2px solid #ca4b00;
  border-radius: .25em;
  padding: 0.2em 0.5em;
}
legend
{
  padding: 0.2em 0.5em;
  color:#ca4b00;
  font-size:150%;
}
label
{
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
}
td a img{
  width: 25px;
  height: 25px;
}