/* Regostration properties ======================================================== */
.registration-main {
	width:700px; 	
	padding:0;
	margin:0 auto;
	font-size:0.875em;
	line-height:1.714em;
	position:relative;
	text-align: center;
}